fastapi==0.115.2
uvicorn[standard]==0.27.1
openai>=1.101.0
python-dotenv==1.0.1
requests==2.31.0
httpx
PyPDF2==3.0.1
python-multipart
git+https://github.com/supabase-community/supabase-py.git@v1.0.3
PyJWT>=2.0.0
PyMuPDF
aiohttp
slowapi
